$frost: #dde2e3;
$lead: #9aacb8;
$burnt_amber: #b37c57;
$nightfall: #3c455c;
$nightfall_dark: #262b39;
$bark: #60412b;

body {
  margin: 0;
  font-family: "Merriweather", serif;
  background-color: black;
  color: $frost;
  font-size: 10px;
}

.main-page {
  font-size: 1rem;
  box-sizing: border-box;
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.header {
  height: 12rem;
  margin-top: 1px;
  background-color: $nightfall;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-image: url("./img/london.jpg");
  background-size: cover;
  background-position: center;
}

.header-text {
  flex: 1 0 auto;
  font-family: "Dancing Script", cursive;
  font-size: 7rem;
}

.timeline {
  background-color: $bark;
  flex: 1 0 auto;
  margin-top: 1px;
  padding: 0.5rem;
}

.footer {
  background-color: $nightfall_dark;
  margin-top: 1px;
  padding: 0.5rem;
}

.buttons {
  width: 100%;
  display: flex;
  justify-content: center;
  padding-bottom: 0.25rem;
}

button {
  border: none;
  background: transparent;
  color: $lead;
  font-size: 2rem;
  font-family: "Dancing Script", cursive;
  font-style: oblique;
  padding: 0 1rem;
}

button:hover {
  cursor: pointer;
  color: $frost;
}

button:active,
button:focus {
  border: none;
  outline: none;
}

button:not(:last-of-type) {
  border-right: 1px solid $lead;
}
